page{
    background:#ff0000;
}
.no_cart {
    color:#999;
    text-align:center;
    margin-top:150px;
}
.no_cart .icon_box span{
    font-size:100px;
}
.choice_class {
    font-size:8px;
}
.choice_but {
    margin-top:30px;
}